{% extends 'main/header.html' %}

{% block content %}

	<!DOCTYPE html>
	<head>
    	    <title>Career Aptitude Test</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(document).ready(function()
                {
                    $("#but1").click(function()
                    {
                        $(".rb").show();
                        $(".rb").attr("disabled",true);
                    });
                });
                function getanswers()
                {
                    document.getElementById(UserAnswers).innerHTML="";
                    var e=document.getElementsByTagName('input');
                    for(i=0;i<=e.length;i++)
                    {
                        if(e[i].type=="radio")
                        {
                            if(e[i].checked)
                            {
                                document.getElementById(UserAnswers).innerHTML+="Q" +e[i].name+"The answer you selected was :"+e[i].value+"<br/>";
                            }
                        }
                    }
                 }
            </script>
	</head>
	<body>
     	   <center>
               <h1>comp science project</h1>
               
     	   </center>
               <div style='padding.left:30px;'>
               
             	       {% for result in test %}
                       <table>
                           <tr>
             	   
                       
                           <td>{{result.id}} ) {{result.Question}} ?</td>
                           </tr>
                           <tr>
                       
                      
                       	   <td><input type='radio' id='option1' class="rb" name="{{result.id}}" value='{{result.option1}}'>{{result.option1}}</td>
                           </tr>
                           <tr>
                           <td><input type='radio' id='option2' class="rb" name="{{result.id}}" value='{{result.option2}}'>{{result.option2}}</td>
                           </tr>
                           <tr>
                           <td><input type='radio' id='option3' class="rb" name="{{result.id}}" value='{{result.option3}}'>{{result.option3}}</td>
                           </tr>
                           <tr>
                           <td><input type='radio' id='option4' class="rb" name="{{result.id}}" value='{{result.option4}}'>{{result.option4}}</td>
                           </tr>
                           <tr>
                           <td><label id='corrans' class="rb" style='display:none;color: green;'><b>The correct answer is :{{result.corrans}}</b></label></td>
                           </tr>
                           <hr/>
             	       </table>
	 
         	 {% endfor %}
              </table>
         	 
         	 <input type='submit' value='Click for results' id='but1' onclick="getanswers();"/>
                 <hr/>
                 <b id="UserAnswers"></b>
                 <hr/>
    	    </div>
     
	 </body>
	 </html>
{%endblock%}